body {
  padding: 24px;
}

h2 {
  display: block;
  color: rgba(250, 67, 67, 0.959);
  font-size: 16px;
  margin-top: 24px;
  border-top: 1px solid rgba(0,0,0,0.25);
  padding-top: 16px;
}

.desc {
  color: $b-primary;
}

a {
  font-size: 14px;
}