@import "../common/style/index";

/* blink */
.bk-form {
  padding: 16px;
  font-size: $font-size-m;
  line-height: 1.4;
  background-color: #fff;

  &.__row {
    flex-wrap: wrap;


    .bk-formItem {
      flex-wrap: wrap;
    }

    .bk-formItem_label {
      width: 100%;
      max-width: 100%;
      margin-bottom: 8px;
      padding-bottom: 4px;
    }

    .bk-formItem_arrow {
      position: absolute;
      right: 26px;
    }

    .bk-formItem_statusIcon {
      position: absolute;
      right: 0;
      margin-top: 2px;
    }
  }
}

.bk-formItem {
  position: relative;
  display: flex;
  padding: 16px 0;

  &.__error {
    .bk-formItem_statusIcon, .bk-formItem_info {
      color: $color-error;
    }
  }

  &.__warning {
    .bk-formItem_statusIcon, .bk-formItem_info {
      color: $color-warn;
    }
  }

  &.__success {
    .bk-formItem_statusIcon, .bk-formItem_info {
      color: $color-success;
    }
  }

  &.__validating {
    .bk-formItem_statusIcon, .bk-formItem_info {
      color: $color-info;
    }
  }

  & + .bk-formTitle {
    margin-top: 24px;
  }

  & + & {
    border-top: 1px solid $b-border;
  }

  &_require {
    color: $color-error;
    vertical-align: middle;
    margin-left: 2px;
  }

  &_label {
    flex: 0 0 auto;
    margin-right: 16px;
    max-width: 30%;
    min-width: 20%;
    color: $b-title;
  }

  &_cont {
    flex: 1 1 auto;
    color: $b-primary;
  }

  &_contMain {
    word-break: break-all;
    min-height: 1em;
  }

  &_arrow {
    display: flex;
    &:before {
      margin: auto;
    }
  }

  &_statusIcon {
    display: flex;
    padding: 0 4px;
    font-size: $font-size-20;
    line-height: 1;
    font-weight: 600;

    i {
      margin: auto;
    }
  }

  &_info {
    font-size: $font-size-s;
    margin-top: 8px;
    color: $b-second;
    word-wrap: break-word;
  }
}

.bk-formTitle {

  &_main {
    font-size: $font-size-m + 2;
    color: $b-title;
    //font-weight: bold;
  }

  &_desc {
    font-size: $font-size-s;
    color: $b-second;
  }
}

.bk-formFoot {
  line-height: 1.5;
  font-size: $font-size-s;
  padding: 16px 0 8px;
}