@import "./var";

/*容器*/
.row {
  display: flex;
  flex-wrap: wrap;
}

/*容器 end*/

/*col */
@for $i from 1 through $col-num {
  .col-#{$i} {
    position: relative;
    width: 100%;
    min-height: 1px;
  }
}

.col, .col-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

/* 小于 576 | 所有情况 */
@for $i from 1 through $col-num {
  .col-#{$i} {
    flex: 0 0 $col-one-width * $i;
    max-width: $col-one-width * $i;
  }
}

/* 小屏(大于576px) */
@media (min-width: 576px) {
  .sm-none {
    display: none !important;
  }

  @for $i from 1 through $col-num {
    .sm-#{$i} {
      flex: 0 0 $col-one-width * $i;
      max-width: $col-one-width * $i;
    }
  }
}

/* 中屏(大于768px) */
@media (min-width: 768px) {
  .md-none {
    display: none !important;
  }

  @for $i from 1 through $col-num {
    .md-#{$i} {
      flex: 0 0 $col-one-width * $i;
      max-width: $col-one-width * $i;
    }
  }
}

/* 大屏(大于992px) */
@media (min-width: 992px) {
  .lg-none {
    display: none !important;
  }

  @for $i from 1 through $col-num {
    .lg-#{$i} {
      flex: 0 0 $col-one-width * $i;
      max-width: $col-one-width * $i;
    }
  }
}

/* 超大屏(大于1200px) */
@media (min-width: 1200px) {
  .xl-none {
    display: none !important;
  }

  @for $i from 1 through $col-num {
    .xl-#{$i} {
      flex: 0 0 $col-one-width * $i;
      max-width: $col-one-width * $i;
    }
  }
}

/*col end*/

/*order*/
.order-first {
  order: -1;
}

@for $i from 1 through $col-num {
  .order-#{$i} {
    order: $i;
  }
}

/*order end*/


/*offset */
@for $i from 1 through ($col-num - 1) {
  .offset-#{$i} {
    margin-left: $col-one-width * $i;
  }
}

/*offset end*/


/* pull */
@for $i from 1 through ($col-num - 1) {
  .pull-#{$i} {
    left: $col-one-width * $i + "%";
  }
}

/*pull end*/


/* push */
@for $i from 1 through ($col-num - 1) {
  .push-#{$i} {
    right: $col-one-width * $i + "%";
  }
}

/*push end*/


.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-stretch {
  align-items: stretch;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-content-between {
  align-content: space-between;
}

.align-content-around {
  align-content: space-around;
}

.align-content-stretch {
  align-content: stretch;
}

.align-self-auto {
  align-self: auto;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-baseline {
  align-self: baseline;
}

.align-self-stretch {
  align-self: stretch;
}