@import "../../Style/index";

//基础类
.bk-btn {
  position: relative;
  appearance: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: none;
  transition: 0.15s ease-in-out;
  padding: 8px 16px;
  font-size: $default-font-size;
  line-height: 1;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  background-color: $theme-color;
  box-shadow: $shadow-1;

  .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45);
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:not(:disabled):hover, &:not(:disabled):focus {
    border-color: transparent;
    box-shadow: $shadow-2;
    background-color: rgba($theme-color, 0.7);
  }

  &:focus,
  &.focus {
    outline: 0;
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
    border-color: transparent;
  }

  & + & {
    margin-left: 8px;
  }

  &.__large {
    padding: 10px 24px;
  }

  &.__small {
    padding: 6px 8px;
  }

  &.__block {
    display: block;
    width: 100%;
    font-weight: $font-weight-bold;
    padding: 8px 0;

    &.__large {
      padding: 10px 0;
      font-size: 1.2em;
    }

    &.__small {
      padding: 6px 0;
      font-size: 0.9em;
    }

    & + & {
      margin-top: 16px;
      margin-left: 0;
    }
  }

  &.__circle {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0 4px;
    border-radius: 50%;
    @include ellipsis-x;

    &.__large {
      width: 46px;
      height: 46px;
      line-height: 46px;
      padding: 0;
    }

    &.__small {
      width: 36px;
      height: 36px;
      line-height: 36px;
      padding: 0;
    }
  }

  //边框按钮
  &.__outline {
    color: $theme-color;
    background-color: transparent;
    background-image: none;
    border: 1px solid $theme-color;

    &:not(:disabled):hover, &:not(:disabled):focus {
      color: #fff;
      background-color: $theme-color;
      border: 1px solid transparent;
    }

    .waves-ripple {
      background-color: rgba(255, 255, 255, 0.45);
    }
  }
}

/**
  * 生成按钮
  * $name: 主题名
  * $color: 主题色
  */
@mixin btn($name, $main-color) {
  .bk-btn.__#{$name} {
    color: #fff;
    background-color: $main-color;

    &:not(:disabled):hover, &:not(:disabled):focus {
      background-color: rgba($main-color, 0.7);
    }

    .waves-ripple {
      background-color: rgba(255, 255, 255, 0.45);
    }
  }

  //边框按钮
  .bk-btn.__#{$name}.__outline {
    color: $main-color;
    background-color: transparent;
    background-image: none;
    border: 1px solid $main-color;

    &:not(:disabled):hover, &:not(:disabled):focus  {
      color: #fff;
      background-color: $main-color !important;
      border: 1px solid transparent;
    }

    .waves-ripple {
      background-color: rgba(255, 255, 255, 0.45);
    }
  }
}

@include btn(info, #2e88fa);
@include btn(success, #13ce66);
@include btn(error, #ff4949);
@include btn(warning, #ffc82c);
