.icon-unfold:before {
  content: "\e661";
}

.icon-fold:before {
  content: "\e6de";
}

.icon-guanbi:before {
  content: "\eb6a";
}

.icon-icon_loading:before {
  content: "\eb80";
}

.icon-RectangleCopy:before {
  content: "\e6a1";
}

.icon-RectangleCopy1:before {
  content: "\e6a2";
}

.icon-RectangleCopy2:before {
  content: "\e6a3";
}

.icon-RectangleCopy3:before {
  content: "\e6a4";
}

.icon-RectangleCopy4:before {
  content: "\e6a5";
}

.icon-RectangleCopy5:before {
  content: "\e6a6";
}

.icon-RectangleCopy7:before {
  content: "\e6a8";
}

.icon-RectangleCopy13:before {
  content: "\e6b1";
}

.icon-RectangleCopy15:before {
  content: "\e6b3";
}

.icon-RectangleCopy16:before {
  content: "\e6b4";
}

.icon-RectangleCopy17:before {
  content: "\e6b5";
}

.icon-RectangleCopy10:before {
  content: "\e6ab";
}

.icon-RectangleCopy11:before {
  content: "\e6ac";
}

.icon-RectangleCopy18:before {
  content: "\e6b6";
}

.icon-RectangleCopy12:before {
  content: "\e6ae";
}

.icon-RectangleCopy19:before {
  content: "\e6b7";
}

.icon-RectangleCopy20:before {
  content: "\e6d3";
}

.icon-RectangleCopy21:before {
  content: "\e6e6";
}

.icon-dingwei:before {
  content: "\e6ea";
}

.icon-increase:before {
  content: "\e69f";
}

.icon-next:before {
  content: "\e6ad";
}

.icon-visible:before {
  content: "\e6af";
}

.icon-eye_protection:before {
  content: "\e6a0";
}

.icon-return:before {
  content: "\e6b0";
}

