@import '../../Style/index';

/* 工具类 */
.clearfix {
  @include clearfix;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.disabled {
  pointer-events: none;
  user-select: none;
  opacity: 0.7;
}

/* 可见 */
.hide {
  display: none;
}

.show {
  display: block;
}

.overflow-hide {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* 浮动 */
.fr {
  float: right;
}

.fl {
  float: left;
}

.ellipsis {
  @include ellipsis-x;
}

.ellipsis-2 {
  @include ellipsis-x(2);
}

/* 文字 */
// 字体
.number-family {
  font-family: $number-family;
}

// 颜色
.color-title {
  color: $b-title;
}

.color-primary {
  color: $b-primary;
}

.color-second {
  color: $b-second;
}

.color-theme {
  color: $theme-color;
}

.color-theme-l {
  color: $theme-color-light;
}

.color-theme-d {
  color: $theme-color-dark;
}

.color-info {
  color: $color-info;
}

.color-success {
  color: $color-success;
}

.color-warn {
  color: $color-warn;
}

.color-error {
  color: $color-error;
}

// 文字性质
.bold {
  font-weight: bold;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.vm {
  vertical-align: middle;
}

// 字体大小 行高取字体值+8px
.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-30 {
  font-size: 30px;
}

.fs-38 {
  font-size: 38px;
}

.fs-46 {
  font-size: 46px;
}

.fs-56 {
  font-size: 56px;
}

.fs-68 {
  font-size: 68px;
}

/* 内外边距类 */
.m-8 {
  margin: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.ml-8 {
  margin-bottom: 8px;
}

.mtb-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mlr-8 {
  margin-right: 8px;
  margin-left: 8px;
}

.m-16 {
  margin: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.ml-16 {
  margin-bottom: 16px;
}

.mtb-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mlr-16 {
  margin-right: 16px;
  margin-left: 16px;
}

.m-24 {
  margin: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.ml-24 {
  margin-bottom: 24px;
}

.mtb-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mlr-24 {
  margin-right: 24px;
  margin-left: 24px;
}

.m-32 {
  margin: 32px;
}

.mt-32 {
  margin-top: 32px;
}

.mr-32 {
  margin-right: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.ml-32 {
  margin-bottom: 32px;
}

.mtb-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mlr-32 {
  margin-right: 32px;
  margin-left: 32px;
}

.m-40 {
  margin: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-40 {
  margin-bottom: 40px;
}

.mtb-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mlr-40 {
  margin-right: 40px;
  margin-left: 40px;
}

.mt-56 {
  margin-top: 56px;
}

.mtb-56 {
  margin-top: 56px;
  margin-bottom: 56px;
}


/* 选择 */
[noselect],
.noselect {
  user-select: none;
}

[expand],
.expand {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -30%;
    top: -30%;
    right: -30%;
    bottom: -30%;
  }
}

/* 样式 */
.radius {
  border-radius: $default-border-radius;
}

/* 阴影 */
.shadow-0 {
  box-shadow: none !important;
}

.shadow-1 {
  box-shadow: $default-box-shadow;
}
.shadow-1-half {
  box-shadow: $shadow-1-half;
}

.shadow-2 {
  box-shadow: $shadow-2;
}

.shadow-3 {
  box-shadow: $shadow-3;
}

.shadow-4 {
  box-shadow: $shadow-4;
}

.shadow-5 {
  box-shadow: $shadow-5;
}

.shadow-hover {
  transition: box-shadow 0.25s;

  &:hover {
    box-shadow: $shadow-hover;
  }
}

/* 其他 */
// 圆形图片
.circle-img {
  border-radius: 50%;
  border: 1px solid $b-border;
  overflow: hidden;
}
